body {
    background-color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.calculator-screen {
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calculator-keys button {
    width: 22%;
    height: 50px;
    margin: 5px 0;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
}